@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sideBar-LightBG: white;
  --sideBar-LightText: black;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(242, 100%, 10%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d5d5d5;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body[data-theme="light"] {
  --bg-color: white;
  --text-color: black;

  --sideBar-bg: rgb(255, 255, 255);
  --sideBar-text: black;
  --sideBar-profile-bg: rgb(224, 205, 241);
  --sideBar-profile-text: #ffffff;
  --profile-border: #ffffff;

  --follow-bg: #aa00ff;
  --follow-text: white;
  --follow-shadow: 0px 0px 15px rgba(94, 94, 94, 0.754);

  --liveNow: rgba(46, 16, 16, 0.6);
  --recommend: rgba(5, 46, 22, 0.6);

  --quickBar-title: #ffffff;
  --quickBar-title-bg: rgb(183, 149, 214);
  --quickBar-bg: #ffffff;
  --quickBar-text: #000000;
  --quickBar-border: #ffffff;

  /*User Page*/
  --user-name: #000000;
  --user-pfp-border: #ffffff;
  --user-pfp-border-shadow: -10px 15px 25px rgba(0, 0, 0, 0.754);

  --user-borderBg: rgb(123, 0, 0);
  --user-box: rgb(128, 0, 255);
  --user-box-strip: rgb(255, 0, 0);
  --user-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.754);
  --user-sideBox: rgb(149, 0, 255);
  --user-contentBox: rgb(255, 255, 253);
  --user-follow-bg: #ff0000;

  --user-bg: rgb(255, 255, 255);
  --user-live-bg: rgb(127, 161, 5);

  /* Screenshot */
  --screenshot-bg: rgb(183, 149, 214);
  --screenshot-bg-hover: rgb(65, 34, 93);
  --screenshot-text: rgb(255, 255, 255);
  --screenshot-text-hover: rgb(255, 255, 255);

  /* Brightness */
  --slider-header: rgb(183, 149, 214);
  --slider-text: rgb(183, 149, 214);
  --slider-bg: #ffffff;

}

body[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;

  --sideBar-bg: black;
  --sideBar-text: white;
  --sideBar-profile-bg: rgba(92, 2, 176, 0.592);
  --sideBar-profile-text: #ffffff;
  --profile-border: #ffffff;

  --follow-bg: #a50000c6;
  --follow-text: rgb(255, 255, 255);
  --follow-shadow: 0px 0px 15px rgba(255, 255, 255, 0.966);

  --liveNow: rgba(77, 29, 29, 0.6);
  --recommend: rgba(4, 63, 28, 0.6);


  --quickBar-title: rgb(255, 255, 255);
  --quickBar-title-bg: rgb(0, 0, 0);
  --quickBar-bg: #000000d3;
  --quickBar-text: #ffffff;
  --quickBar-border: #ffffff;


  /*User Page*/
  --user-name: #ffffff;
  --user-pfp-border: #ffffff;
  --user-pfp-border-shadow: -10px 15px 25px rgba(0, 0, 0, 0.754);

  --user-borderBg: rgb(123, 0, 0);
  --user-box: rgb(75, 0, 150);
  --user-box-strip: rgb(165, 0, 0);
  --user-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.754);
  --user-sideBox: rgba(25, 25, 25, 0.938);
  --user-contentBox: rgba(108, 0, 0, 0.764);
  --user-follow-bg: #9a0000;

  --user-bg: rgb(16, 16, 16);
  --user-live-bg: rgb(127, 161, 5);

  /* Screenshot */
  --screenshot-bg: rgb(78, 78, 78);
  --screenshot-bg-hover: rgb(231, 231, 231);
  --screenshot-text: rgb(255, 255, 255);
  --screenshot-text-hover: rgb(78, 78, 78);

  /* Brightness */
  --slider-header: rgb(255, 255, 255);
  --slider-text: rgb(255, 255, 255);
  --slider-bg: #000000;
}

body[data-theme="blue"] {
  --bg-color: #e0f7fa;
  --text-color: #00539b;

  --sideBar-bg: #eefafffb;
  --sideBar-text: #002147;
  --sideBar-profile-bg: #003571;
  --sideBar-profile-text: #ffffff;
  --profile-border: #ffffff;

  --follow-bg: #ffffff;
  --follow-shadow: 0px 0px 15px rgba(161, 222, 255, 0.823);

  --liveNow: rgba(5, 59, 103, 0.801);
  --recommend: rgba(112, 116, 96, 0.6);


  --quickBar-title: #ffffff;
  --quickBar-title-bg: #003571;
  --quickBar-bg: #eefafffb;
  --quickBar-text: #003571;
  --quickBar-border: #ffffff;


  /*User Page*/
  --user-name: #000000;
  --user-pfp-border: #ffffff;
  --user-pfp-border-shadow: -10px 15px 25px rgba(0, 0, 0, 0.754);

  --user-borderBg: rgb(0, 29, 92);
  --user-box: rgb(246, 255, 0);
  --user-box-strip: rgb(68, 160, 218);
  --user-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.754);
  --user-sideBox: #00525c;
  --user-contentBox: rgba(161, 254, 252, 0.691);
  --user-follow-bg: #78baeddf;

  --user-bg: rgba(167, 245, 244, 0.886);
  --user-live-bg: rgb(127, 161, 5);

  /* Screenshot */
  --screenshot-bg: rgb(74, 185, 250);
  --screenshot-bg-hover: rgb(18, 137, 255);
  --screenshot-text: rgb(255, 255, 255);
  --screenshot-text-hover: rgb(255, 255, 255);

  /* Brightness */
  --slider-header: rgb(15, 103, 192);
  --slider-text: rgb(15, 103, 192);
  --slider-bg: #eefaff98;
}

body[data-theme="green"] {
  --bg-color: #e8f5e9;
  --text-color: #2e7d32;

  /*Sidebar*/
  --sideBar-bg: #f7fff3;
  --sideBar-text: #2e7d32;
  --sideBar-profile-bg: rgb(0, 78, 38);
  --sideBar-profile-text: #ffffff;
  --profile-border: #ffffff;

  --follow-bg: #ffffff;
  --follow-text: #2e7d32;
  --follow-shadow: 0px 0px 15px rgba(84, 255, 92, 0.754);

  --liveNow: rgba(69, 150, 74, 0.6);
  --recommend: rgba(123, 94, 14, 0.6);

  /*Quick Settings*/
  --quickBar-title: rgb(226, 255, 240);
  --quickBar-title-bg: rgb(0, 78, 38);
  --quickBar-bg: #e8f5e9;
  --quickBar-text: #2e7d32;
  --quickBar-border: #ffffff;

  /*User Page*/

  --user-pfp-border: #ffffff;
  --user-pfp-border-shadow: -10px 15px 25px rgba(0, 0, 0, 0.754);

  --user-borderBg: rgb(255, 237, 123);
  --user-box: rgb(1, 136, 66);
  --user-box-strip: rgb(217, 240, 133);
  --user-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.754);
  --user-sideBox: rgb(1, 61, 30);
  --user-contentBox: rgba(213, 197, 141, 0.982);
  --user-follow-bg: #ffffff;
  --user-bg: rgb(0, 78, 38);
  --user-live-bg: rgb(217, 240, 133);

  /* Screenshot */
  --screenshot-bg: rgb(250, 215, 74);
  --screenshot-bg-hover: rgb(0, 151, 73);
  --screenshot-text: rgb(1, 61, 30);
  --screenshot-text-hover: rgb(255, 255, 0);


  /* Brightness */
  --slider-header: rgb(15, 192, 44);
  --slider-text: rgb(15, 192, 15);
  --slider-bg: #e8f5e9;
}

body[data-theme="orange"] {
  --bg-color: #ffe0b2;
  --text-color: #e65100;

  --sideBar-bg: #fff3dc;
  --sideBar-text: #4d3b31;
  --sideBar-profile-bg: #E67E22;
  --sideBar-profile-text: #ffffff;
  --profile-border: #ffd900;

  --follow-bg: #fdfd00af;
  --follow-text: #000000;
  --follow-shadow: 0px 0px 15px rgba(0, 229, 255, 0.754);

  --liveNow: rgba(202, 192, 53, 0.6);
  --recommend: rgba(192, 111, 18, 0.6);


  --quickBar-title-bg: #E67E22;
  --quickBar-title: #ffffff;
  --quickBar-bg: #fff3dc;
  --quickBar-text: #ff8800;
  --quickBar-border: #ffffff;

  /*User Page*/

  --user-pfp-border: #ffffff;
  --user-pfp-border-shadow: -10px 15px 25px rgba(0, 0, 0, 0.754);
  --user-name: #000000;
  --user-borderBg: rgb(255, 237, 123);
  --user-box: rgb(157, 149, 0);
  --user-box-strip: rgb(216, 255, 73);
  --user-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.754);
  --user-sideBox: rgb(189, 116, 43);
  --user-contentBox: rgba(229, 244, 92, 0.877);
  --user-follow-bg: #fff59c;

  --user-bg: rgb(255, 145, 0);
  --user-live-bg: rgb(127, 161, 5);

  /* Screenshot */
  --screenshot-bg: rgb(244, 160, 75);
  --screenshot-bg-hover: rgb(255, 128, 0);
  --screenshot-text: rgb(255, 255, 255);
  --screenshot-text-hover: rgb(255, 255, 5);

  /* Brightness */
  --slider-header: rgb(255, 0, 0);
  --slider-text: rgb(255, 0, 0);
  --slider-bg: #fff3dc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.message {
  word-wrap: anywhere;
}


/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */