@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sideBar-LightBG: white;
  --sideBar-LightText: black;
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}


body[data-theme="light"] {
  --bg-color: white;
  --text-color: black;

  /*Global Background Colour*/
  background: linear-gradient(to top right, #2043ba, #0026a6, #63007a);
  --scrollbar-color: white;
  --scrollbar-hover: rgb(144, 144, 144);

  --sideBar-bg: rgb(255, 255, 255);
  --sideBar-text: black;
  --sideBar-profile-bg: rgb(224, 205, 241);
  --sideBar-profile-text: #ffffff;
  --profile-border: #ffffff;

  --follow-bg: #aa00ff;
  --follow-text: white;
  --follow-shadow: 0px 0px 15px rgba(94, 94, 94, 0.754);

  --liveNow: rgba(46, 16, 16, 0.6);
  --recommend: rgba(5, 46, 22, 0.6);

  --quickBar-title: #ffffff;
  --quickBar-title-bg: rgb(158, 94, 217);
  --quickBar-bg: #ffffff;
  --quickBar-text: #000000;
  --quickBar-border: #ffffff;

  /*User Page*/
  --user-name: #000000;
  --user-pfp-border: #ffffff;
  --user-pfp-border-shadow: -10px 15px 25px rgba(0, 0, 0, 0.754);

  --user-borderBg: rgb(38, 0, 36);
  --user-box: rgb(128, 0, 255);
  --user-box-strip: rgb(120, 3, 120);
  --user-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.754);
  --user-sideBox: rgba(149, 0, 255, 0.9);
  --user-contentBox: rgb(255, 255, 253, 0.75);
  --user-follow-bg: #dbb2ff;

  --user-bg: rgb(255, 255, 255);
  --user-live-bg: rgb(127, 161, 5);

  /* Screenshot */
  --screenshot-bg: rgba(138, 78, 195, 0.75);
  --screenshot-bg-hover: rgba(138, 78, 195);
  --screenshot-text: rgb(255, 255, 255);
  --screenshot-text-hover: rgb(255, 255, 255);

  /* Brightness */
  --slider-header: rgb(160, 103, 214);
  --slider-text: rgb(183, 149, 214);
  --slider-bg: #ffffff;

}

body[data-theme="dark"] {
  /*Global Background Colour*/
  background: linear-gradient(to top right, #737787, #0d1e55, #567419);
  --scrollbar-color: rgb(255, 255, 255);
  --scrollbar-hover: rgb(255, 255, 255);

  --bg-color: black;
  --text-color: white;

  --sideBar-bg: black;
  --sideBar-text: white;
  --sideBar-profile-bg: rgba(92, 2, 176, 0.592);
  --sideBar-profile-text: #ffffff;
  --profile-border: #ffffff;

  --follow-bg: #a50000c6;
  --follow-text: rgb(255, 255, 255);
  --follow-shadow: 0px 0px 15px rgba(255, 255, 255, 0.966);

  --liveNow: rgba(77, 29, 29, 0.6);
  --recommend: rgba(4, 63, 28, 0.6);


  --quickBar-title: rgb(255, 255, 255);
  --quickBar-title-bg: rgb(0, 0, 0);
  --quickBar-bg: #000000d3;
  --quickBar-text: #ffffff;
  --quickBar-border: #ffffff;


  /*User Page*/
  --user-name: #ffffff;
  --user-pfp-border: #ffffff;
  --user-pfp-border-shadow: -10px 15px 25px rgba(0, 0, 0, 0.754);

  --user-borderBg: rgb(57, 0, 123);
  --user-box: rgb(75, 0, 150);
  --user-box-strip: rgb(165, 0, 0);
  --user-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.754);
  --user-sideBox: rgba(25, 25, 25, 0.938);
  --user-contentBox: rgba(29, 0, 66, 0.75);
  --user-follow-bg: #9a0000;

  --user-bg: rgb(16, 16, 16);
  --user-live-bg: rgb(127, 161, 5);

  /* Screenshot */
  --screenshot-bg: rgb(78, 78, 78);
  --screenshot-bg-hover: rgb(231, 231, 231);
  --screenshot-text: rgb(255, 255, 255);
  --screenshot-text-hover: rgb(78, 78, 78);

  /* Brightness */
  --slider-header: rgb(255, 255, 255);
  --slider-text: rgb(255, 255, 255);
  --slider-bg: #000000;
}

body[data-theme="blue"] {
  --bg-color: #e0f7fa;
  --text-color: #00539b;

  /*Global Background Colour*/
  background: linear-gradient(to top right, #223b3b, #3e7bff, #170055);
  --scrollbar-color: white;
  --scrollbar-hover: rgb(144, 144, 144);


  --sideBar-bg: #eefafffb;
  --sideBar-text: #002147;
  --sideBar-profile-bg: #003571;
  --sideBar-profile-text: #ffffff;
  --profile-border: #ffffff;

  --follow-bg: #ffffff;
  --follow-shadow: 0px 0px 15px rgba(161, 222, 255, 0.823);

  --liveNow: rgba(5, 59, 103, 0.801);
  --recommend: rgba(112, 116, 96, 0.6);


  --quickBar-title: #ffffff;
  --quickBar-title-bg: #003571;
  --quickBar-bg: #eefafffb;
  --quickBar-text: #003571;
  --quickBar-border: #ffffff;


  /*User Page*/
  --user-name: #000000;
  --user-pfp-border: #ffffff;
  --user-pfp-border-shadow: -10px 15px 25px rgba(0, 0, 0, 0.754);

  --user-borderBg: rgb(0, 29, 92);
  --user-box: rgb(0, 38, 87);
  --user-box-strip: rgb(68, 160, 218);
  --user-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.754);
  --user-sideBox: rgba(9, 40, 97, 0.9);
  --user-contentBox: rgba(161, 254, 252, 0.75);
  --user-follow-bg: #78baeddf;

  --user-bg: rgba(167, 245, 244, 0.886);
  --user-live-bg: rgb(127, 161, 5);

  /* Screenshot */
  --screenshot-bg: rgb(74, 185, 250);
  --screenshot-bg-hover: rgb(18, 137, 255);
  --screenshot-text: rgb(255, 255, 255);
  --screenshot-text-hover: rgb(255, 255, 255);

  /* Brightness */
  --slider-header: rgb(15, 103, 192);
  --slider-text: rgb(15, 103, 192);
  --slider-bg: #eefaff98;
}

body[data-theme="green"] {

  /*Global Background Colour*/
  background: linear-gradient(to top right, #2a0d0d, #183f29, #16631e);
  --scrollbar-color: white;
  --scrollbar-hover: rgb(144, 144, 144);


  --bg-color: #e8f5e9;
  --text-color: #2e7d32;

  /*Sidebar*/
  --sideBar-bg: #f7fff3;
  --sideBar-text: #2e7d32;
  --sideBar-profile-bg: rgb(0, 78, 38);
  --sideBar-profile-text: #ffffff;
  --profile-border: #ffffff;

  --follow-bg: #b5ffb5;
  --follow-text: #2e7d32;
  --follow-shadow: 0px 0px 15px rgba(84, 255, 92, 0.754);

  --liveNow: rgba(14, 173, 28, 0.491);
  --recommend: rgba(123, 94, 14, 0.6);

  /*Quick Settings*/
  --quickBar-title: rgb(226, 255, 240);
  --quickBar-title-bg: rgb(0, 78, 38);
  --quickBar-bg: #e8f5e9;
  --quickBar-text: #2e7d32;
  --quickBar-border: #ffffff;

  /*User Page*/

  --user-pfp-border: #ffffff;
  --user-pfp-border-shadow: -10px 15px 25px rgba(0, 0, 0, 0.754);

  --user-borderBg: rgb(0, 51, 19);
  --user-box: rgb(1, 136, 66);
  --user-box-strip: rgb(217, 240, 133);
  --user-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.754);
  --user-sideBox: rgba(1, 61, 30, 0.9);
  --user-contentBox: rgba(103, 161, 99, 0.75);
  --user-follow-bg: #cfffcf;
  --user-bg: rgb(0, 78, 38);
  --user-live-bg: rgb(217, 240, 133);

  /* Screenshot */
  --screenshot-bg: rgba(31, 103, 44, 0.75);
  --screenshot-bg-hover: rgb(31, 103, 44);
  --screenshot-text: rgb(1, 61, 30);
  --screenshot-text-hover: rgb(1, 35, 17);


  /* Brightness */
  --slider-header: rgb(15, 192, 44);
  --slider-text: rgb(15, 192, 15);
  --slider-bg: #e8f5e9;
}

body[data-theme="orange"] {
    
  /*Global Background Colour*/
  background: linear-gradient(to top right, #074a84, #a17e1c, #4f2b61);
  --scrollbar-color: white;
  --scrollbar-hover: rgb(144, 144, 144);

  --bg-color: #ffe0b2;
  --text-color: #e65100;

  --sideBar-bg: #fff3dc;
  --sideBar-text: #4d3b31;
  --sideBar-profile-bg: #E67E22;
  --sideBar-profile-text: #ffffff;
  --profile-border: #ffd900;

  --follow-bg: #fdfd00af;
  --follow-text: #000000;
  --follow-shadow: 0px 0px 15px rgba(0, 229, 255, 0.754);

  --liveNow: #4c008285;
  --recommend: #c49c2da5;


  --quickBar-title-bg: #E67E22;
  --quickBar-title: #ffffff;
  --quickBar-bg: #fff3dc;
  --quickBar-text: #ff8800;
  --quickBar-border: #ffffff;

  /*User Page*/

  --user-pfp-border: #ffffff;
  --user-pfp-border-shadow: -10px 15px 25px rgba(0, 0, 0, 0.754);
  --user-name: #000000;
  --user-borderBg: rgb(118, 98, 0);
  --user-box: rgb(200, 122, 14);
  --user-box-strip: rgb(216, 255, 73);
  --user-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.754);
  --user-sideBox: rgba(158, 109, 64, 0.9);
  --user-contentBox: rgb(180, 192, 77, 0.75);
  --user-follow-bg: #fff59c;

  --user-bg: rgb(244, 168, 69);
  --user-live-bg: rgb(127, 161, 5);

  /* Screenshot */
  --screenshot-bg: rgba(244, 159, 75, 0.75);
  --screenshot-bg-hover: rgb(244, 159, 75);
  --screenshot-text: rgb(255, 255, 255);
  --screenshot-text-hover: rgb(255, 255, 255);

  /* Brightness */
  --slider-header: rgb(193, 144, 0);
  --slider-text: rgb(193, 144, 0);
  --slider-bg: #fff3dc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.message {
  word-wrap: anywhere;
}


/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */