@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

    --sideBar-LightBG: white;
    --sideBar-LightText: black;
    
    --sideBar-DarkBG: black;
    --sideBar-DarkText: white;
  }
  