@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

    --sideNav-LightBG: white;
    --sideNav-LightText: black;
    
    --sideNav-DarkBG: black;
    --sideNav-DarkText: white;
  }
  