@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

    --sideBar-LightBG: white;
    --sideBar-LightText: black;
    
    --sideBar-DarkBG: black;
    --sideBar-DarkText: white;
  }

.style {
  font-size: 2em;
  font-weight: bold;
}

.category-style {
  font-size: 1.75em;
  font-weight: bold;
}
  